setuptools~=68.2.2
matplotlib~=3.8.0
numpy~=1.26.1
scipy~=1.11.3
ipython~=8.16.1
mygrad~=2.2.0
pyaudio~=0.2.13
librosa~=0.10.1
jupyter~=1.0.0
notebook~=7.0.7
xarray~=2024.1.1
pandas~=2.2.0
Bottleneck~=1.3.7
opencv-python~=4.9.0.80
scikit-learn~=1.4.0
scikit-image~=0.22.0
torch~=2.2.0
torchvision~=0.17.0
torchaudio~=2.2.0
torchtext~=0.17.0
mynn~=0.9.4
noggin~=0.10.1
facenet-pytorch~=2.5.3
cog-datasets~=0.2.0
ml-dtypes~=0.3.2
jax-metal~=0.0.5
pyobjc~=10.1
pyobjc-framework-avfoundation~=10.1